<app-header></app-header>
<div class="container" style="height: 64vh;">
    <h4 style="margin-top: 100px;">Your Groups</h4>
    <div class="row">
        <div class="col-md-3" *ngFor="let group of userGroups">
            <mat-card class="example-card" style="margin-top:20px">
                <mat-card-header style="
                    background-image: url('../../assets/images/user-background.jpg');
                    width: 100%;
                    height: 250px;
                    color: white;
                    ">
                  <mat-card-title>{{group.groupName}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p class="ml-3 mt-2">
                    {{group.groupDescription}}
                  </p>
                </mat-card-content>
                <mat-card-actions class="text-center">
                  <button mat-button (click)="openInfo(group)" >MORE INFO</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div> 
</div>
<app-footer></app-footer>
